<%- include("header.ejs") %>
  <div class="container">
    <h1 class="text-bg-primary mb-3">View Employee</h1>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header">
        Employee Id
      </div>
      <div>
        <%= employee._id %>
      </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header">
        First Name
      </div>
      <div>
        <%= employee.fName %>
      </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header">
        Last Name
      </div>
      <div>
        <%= employee.lName %>
      </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header">
        Email
      </div>
      <div>
        <%= employee.email %>
      </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header">
        Age
      </div>
      <div>
        <%= employee.age %>
      </div>
    </div>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-header mb-3">
        Occupation
      </div>
      <div>
        <%= employee.occupation %>
      </div>
    </div>
    <div>
      <a href="/update-page/<%= employee.id %>"><button type="button" class="btn btn-primary">Update</button></a>
      <button type="button" onclick="makeRequest('/delete/<%= employee._id%>', 'DELETE')"  class="btn btn-danger">Delete</button>
      <a href="/"><button type="button" class="btn btn-primary">Exit</button></a>
    </div>

  </div>

  </body>

  </html>
